.App {
  font-family: sans-serif;
  text-align: center;
}

.grid-wrapper {
  height: 100%;
  padding-top: 26px;
  box-sizing: border-box;
}

.button-bar {
  position: absolute;
  top: 0;
  left: 0;
  margin: -3px;
}
.ag-react-container {
  width: 100%;
}
.customHeaderMenuButton {
  float: left;
  margin: 0 3px 0 0px;
}

.customHeaderLabel {
  float: left;
  margin: 0 0 0 3px;
}

.customSortDownLabel {
  float: right;
  margin: 0 0 0 3px;
}

.customSortUpLabel {
  float: right;
  margin: 0;
}

.customSortRemoveLabel {
  float: right;
  margin: 0 0 0 3px;
  font-size: 11px;
}

.active {
  color: cornflowerblue;
}
